{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
		
		<button class="edit_show" data-id="{{artist.id}}">Edit</button>
	</li>
	{% endfor %}
</ul>

<script>
	
	const allEdit = document.querySelectorAll('.edit_show')

	for (i = 0 ; i<allEdit.length  ; i++){
		const button = allEdit[i] ; 
		button.onclick=function(e){
			id = e.target.dataset['id'] ; 
			s = '/artists/' + id + '/edit'
			console.log(s)
			fetch('/artists/" + id + /edit',{
				method:'GET'
			})
			.then(function(){
				window.location.href = s  ; 
			})
			.catch(function(e){
				console.log(e)  ; 
			})
		}
	}
</script>
{% endblock %}